
.App{
  min-height: 100vh;
  background-color: rgb(10, 240, 252);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border:0px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(19, 255, 19);

}
.search-button{
  background: #000000;
 border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-size: larger;
  margin: 0 0 0 10px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}